:root {
    --clr-primary-200: #d9ccc4;
    --clr-primary-400: #b9a99f;
  
    --clr-neutral-100: #fff;
    --clr-neutral-900:rgb(60, 60, 60);
  
    --ff-primary: "Poppins", sans-serif;
    --ff-accent: "Raleway", serif;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  body {
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 1.3125rem;
    line-height: 1.6;
    background-image: url("abc");
  }
  
  body,
  h1,
  h2,
  h3,
  p {
    margin: 0;
  }
  
  h1,
  h2,
  h3 {
    color: var(--clr-primary-400);
    font-family: var(--ff-accent);
    font-weight: 900;
    line-height: 1;
    font-style: bold;
  }

 ul {
    padding-left: 1em;
    list-style-position: outside;
  }

  ol {
    font-style: bold;
  }

  #headline {
    color: white;
    font-size: 40px;
  }

  #subheadline {
    color: white;
  }

  #umsetzung {
    text-align: center;
    margin: auto;
  }
  
  h2,
  h3,
  p {
    margin-bottom: 1em;
  }
  
  img {
    display: block;
    max-width: 100%;
    text-align: center;
    margin-inline: auto;
  }

  #lightbulb {
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
  }

  #logo {
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px ;
    
  }
  
  .text-center {
    text-align: center;
  }
  
  header,
  section {
    padding: 4rem 0;
    @media (min-width: 40em) {
      header,
      section {
        padding: 7rem 0;
      }
    }
  }
  
  .container {
    margin-inline: auto;
    width: min(80%, 70.5rem);
  }
  
  .split {
    display: flex;
    flex-direction: column;
  }
  
  @media (min-width: 40em) {
    .split {
      flex-direction: row;
    }
  
    .split > * {
      flex-basis: 100%;
    }
  
    .split > * + * {
      margin-left: 2em;
    }
  }
  
  .container--narrow {
    max-width: 34rem;
  }
  
  .bg-light {
    background-color: var(--clr-primary-200);
    display: block;
    max-width: 100%;
    background-image: url("images/titelbild.png");
    background-repeat: no-repeat;

  }

  .bg-end{
    background-color: var(--clr-primary-100);
    display: block;
    max-width: 100%;
    background-image: url("images/titelbild.png");
    background-repeat: no-repeat;

  }
  
  .bg-primary {
    color: var(--clr-neutral-100);
    background-color: var(--clr-primary-400);
  }
  
  
  .bg-dark {
    color: var(--clr-neutral-100);
    background-color: var(--clr-neutral-900);
    margin: auto;
  }


.bg-first h2 {
    color: var(--clr-neutral-900);
}
  .bg-dark h2 {
    color: var(--clr-neutral-900);
  }
  
  .bg-primary h2,
  .bg-dark h2 {
    color: var(--clr-primary-100);
  }

  #footer {
    text-align: center;
    font-size: 15px;
  }