:root {
    --clr-primary-200: #d9ccc4;
    --clr-primary-400: #b9a99f;
  
    --clr-neutral-100: #fff;
    --clr-neutral-900:rgb(60, 60, 60);
  
    --ff-primary: "Poppins", sans-serif;
    --ff-accent: "Raleway", serif;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  body {
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 1.3125rem;
    line-height: 1.6;
    background-image: url("abc");
  }
  
  body,
  h1,
  h2,
  h3,
  p {
    margin: 0;
  }
  
  h1,
  h2,
  h3 {
    color: var(--clr-primary-400);
    font-family: var(--ff-accent);
    font-weight: 900;
    line-height: 1;
    font-style: bold;
  }

 ul {
    padding-left: 1em;
    list-style-position: outside;
  }


  #headline {
    color: white;
    font-size: 40px;
  }

  #subheadline {
    color: white;
  }

  #umsetzung {
    text-align: center;
    margin: auto;
  }
  
  h2,
  h3,
  p {
    margin-bottom: 1em;
  }
  
  img {
    display: block;
    max-width: 100%;
    text-align: center;
    margin-inline: auto;
  }

  #lightbulb {
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
  }

  #logo {
    margin-inline: auto;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px ;
    
  }
  
  .text-center {
    text-align: center;
  }
  
  header,
  section {
    padding: 4rem 0;
    @media (min-width: 40em) {
      header,
      section {
        padding: 7rem 0;
      }
    }
  }
  
  .container {
    margin-inline: auto;
    width: min(80%, 70.5rem);
  }
  
  .split {
    display: flex;
    flex-direction: column;
  }
  
  @media (min-width: 40em) {
    .split {
      flex-direction: row;
    }
  
    .split > * {
      flex-basis: 100%;
    }
  
    .split > * + * {
      margin-left: 2em;
    }
  }
  
  .container--narrow {
    max-width: 34rem;
  }
  
  .bg-light {
    background-color: var(--clr-primary-200);
    display: block;
    max-width: 100%;
    background-image: url("images/titelbild.png");
    background-repeat: no-repeat;

  }

  .bg-end{
    background-color: var(--clr-primary-100);
    display: block;
    max-width: 100%;
    background-image: url("images/titelbild1.png");
    background-repeat: no-repeat;

  }
  
  .bg-primary {
    color: var(--clr-neutral-100);
    background-color: var(--clr-primary-400);
  }
  
  
  .bg-dark {
    color: var(--clr-neutral-100);
    background-color: var(--clr-neutral-900);
    margin: auto;
  }


.bg-first h2 {
    color: var(--clr-neutral-900);
}
  .bg-dark h2 {
    color: var(--clr-neutral-900);
  }
  
  .bg-primary h2,
  .bg-dark h2 {
    color: var(--clr-primary-100);
  }

  #footer {
    text-align: center;
    font-size: 15px;
  }

.slideshow {
    width: 80vw;
    height: 80vh;
    box-shadow: 0px 0px 10px gray;
    position: relative;
    text-align: center;
    margin-inline: auto;
}

.slide {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity 2s;
}

.slide-bild {
    width:auto;
    height: 100%;
}

.slide-textbereich {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 70%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    font-family: sans-serif;
    padding: 0 15% 0 15%;
    margin-inline: auto;
    font-size: auto;
    margin: auto;
    

}

.slide-ueberschrift {
    font-size: 1.8em;
    margin: 20px 0;
}

.slide-beschreibung {
    font-size: 0.8em;
    margin: 0;
}

.pfeil {
    position: absolute;
    top: 0;
    bottom: 0;
    font-size: 50px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    color: rgba(255, 255, 255, 0.5);
    user-select: none;
    cursor: pointer;
}

.pfeil:hover {
    color: rgb(60, 60, 60) ;
}

.pfeil-links {
    left: 0;
}

.pfeil-rechts {
    right: 0;
}

.indikatorenliste {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    list-style-type: none;
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.indikator {
    padding: 0 10px;
    user-select: none;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 2s;
}

.aktiv {
    opacity: 1;
}
 /* .slideshow {
    width: 100%;
    height: 100vh;
    box-shadow: 0px 0px 10px gray;
    position: relative;
    margin-inline: auto;
    text-align: center;
}

.slide {
    position: absolute;
    top: 10px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity 2s;
    width: auto;
    height: auto;
}

.slide-bild {
    width: 50%;
    height: auto;
    margin-inline: auto;
    margin: auto;
    padding: auto;
    text-align: center;
    align-items: center;
    display: block;
    max-width: 100%;
    text-align: center;
    margin-inline: auto;
   
    
}

.slide-textbereich {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 70%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: auto;
    margin: auto;
    
    
   
}

.slide-ueberschrift {
    font-size: 40px;
    margin: 10px 0;
    padding-top: 40px;
}

.slide-beschreibung {
    font-size: 20px;
    margin: 0;
}

.pfeil {
    position: absolute;
    top: 0;
    bottom: 0;
    font-size: 50px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    color: rgba(255, 255, 255, 0.5);
    user-select: none;
    cursor: pointer;
}

.pfeil:hover {
    color: darkgray;
}

.pfeil-links {
    left: 0;
}

.pfeil-rechts {
    right: 0;
}

.indikatorenliste {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    list-style-type: none;
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.indikator {
    padding: 0 10px;
    user-select: none;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 2s;
}

.aktiv {
    opacity: 1;
}  */


