
html{
    margin: auto;

}
#title {
    color: white;
    text-align: center;
    padding: 20px;
    background-image: url("images/titel_image.png");
    background-color: rgb(200, 190, 177);
    height: 500px;
    width: 1000px;
    background-repeat: no-repeat;
    background-position: center;
    position: flex;
    margin: auto;
    margin-top: 50px;
}

h1 {
    font-size: 50px;
    font-weight: bolder;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top:70px;
}

h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: -30px;
}

#Logo {
    margin-bottom: -150px;
    margin-left: 20px;

}


#quote {
    color: darkgray;
    text-align: center;
    font-size: 40px;
    font-style: oblique;
    font-style: bold;
}

#author {
    color: darkgray;
    text-align: center;
    font-size: large;
    font-style: oblique;
    font-style: bold;
    margin-top: -30px;


}
hr {
    width: 900px;
    background-color: #d9ccc4;
    margin-top: 50px;
    height: 2px;
    border: none;
   
}

#idea {
    color: darkgrey;
    width: 600px;
    margin: auto;
    margin-top: 70px;
    line-height: 140%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#Projectidea {
    font-size: 35px;
    font-weight: bolder;
}

 #Idea {
     margin-top: -50px;
    font-style: bold;
    font-size: 17px;
    text-align: justify;
 }

 #lightbulb {
     margin-left: -130px;
     margin-top: -60px;
     opacity: 50%;
 }

 #description {
    color: white;
    background-color: #d9ccc4;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    width: 800px;
    margin: 50px;
    margin: auto;
    margin-top: 50px;
    line-height: 140%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#Projecdescription {
    font-size: 35px;
    color: #d9ccc4;
    width: 800px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: -40px;
    line-height: 140%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
}

 #Description {
    font-style: bold;
    font-size: 17px;
    text-align: justify;
}

#showroom {
    display: flex;
    text-align: center;
    justify-content: center;
}

#medium {
    color: white;
    align-items: right;
    background-color: #d9ccc4;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin: auto;
    margin-bottom: 50px;
    width: 800px;
    line-height: 140%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#Projectmedium {
    font-size: 35px;
    color: #d9ccc4;
    width: 800px;
    margin: auto;
    margin-bottom: 10px;
    line-height: 140%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    font-weight: bolder;
    
}

 #Medium {
    font-style: bold;
    font-size: 17px;
    text-align: justify;
}


#teaser {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: -10px;
    margin-bottom: 50px;

}

#Projectimplementation {
    font-size: 35px;
    color: #d9ccc4;
    width: 800px;
    margin: auto;
    margin-bottom: 10px;
    line-height: 140%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    font-weight: bolder;
    
}
 footer {
    color: #d9ccc4;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 15px;
 }